body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #da68058f;
    color: hsl(0, 0%, 0%);
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #88e735;
    color: #f9d8c5;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
    width: calc(100% - 12px);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

select {
    width: 100%;
}

button {
    background-color: #333;
    color: #f5debf;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #f1d6a3;
    text-align: center;
    padding: 1rem 0;
}
